{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <form method="get" action="{% url 'search_results' %}" class="form-inline mb-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div id="posts-container">
        {% include 'blog/post_list_partial.html' %}
    </div>
</div>
{% endblock %}
