<!-- blog/templates/blog/private_area.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Mis Posts</h2>
    <a class="btn btn-primary" href="{% url 'post_create' %}">Crear Nuevo Post</a>
    <ul class="list-group mt-3">
        {% for post in posts %}
            <li class="list-group-item">
                <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                <small class="text-muted">{{ post.created_at }}</small>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
